<div class="navbar" role="navigation">
    <div class="inner">
        <ul id="nav-main" class="nav-main linklist compact" role="menubar">

            <li data-last-responsive="true" class="">
                <a href="{U_INDEX}" class="umami--click--home">
                    <i class="icon fa-home fa-fw" aria-hidden="true"></i><span>Home</span>
                </a>
            </li>

            <li data-last-responsive="true" class="">
                <a href="{U_SITE_HOME}/main" class="umami--click--articoli">
                    <i class="icon fa-leanpub fa-fw" aria-hidden="true"></i><span>Articoli</span>
                </a>
            </li>

            <li data-last-responsive="true" class="">
                <a href="{U_INDEX}" class="active umami--click--forum">
                    <i class="icon fa-commenting fa-fw umami--click--forum" aria-hidden="true"></i><span >Forum</span>

                </a>
            </li>
            <li data-last-responsive="true" class="">
                <a href="{U_SITE_HOME}/gallery" class="umami--click--gallery">
                    <i class="icon fa-camera-retro fa-fw" aria-hidden="true"></i><span>Gallery</span>
                </a>
            </li>

        </ul>
    </div>
</div>
