<div class="navbar" role="navigation">
    <div class="inner">
        <ul id="nav-main" class="nav-main linklist compact" role="menubar">

            <li data-last-responsive="true" class="">
                <a href="{U_INDEX}" class="umami--click--home">
                    <i class="icon fa-home fa-fw umami--click--home" aria-hidden="true"></i><span class="umami--click--home">Home</span>
                </a>
            </li>

            <li data-last-responsive="true" class="">
                <a href="{U_SITE_HOME}" class="umami--click--articoli">
                    <i class="icon fa-leanpub fa-fw umami--click--articoli" aria-hidden="true"></i><span class="umami--click--articoli">Articoli</span>
                </a>
            </li>

            <li data-last-responsive="true" class="">
                <a href="{U_INDEX}" class="active umami--click--forum">
                    <i class="icon fa-commenting fa-fw umami--click--forum" aria-hidden="true"></i><span class="umami--click--forum">Forum</span>

                </a>
            </li>
            <li data-last-responsive="true" class="">
                <a href="{U_SITE_HOME}/gallery" class="umami--click--gallery">
                    <i class="icon fa-camera-retro fa-fw umami--click--gallery" aria-hidden="true"></i><span class="umami--click--gallery">Gallery</span>
                </a>
            </li>

        </ul>
    </div>
</div>
