.site_logo {
    background-image: url("./images/site_logo.png");
    background-size: 100px;
}

.site_logo {
    display: inline-block;
    width: 100px;
    height: 100px;
}

/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
    body {
        font-size: 0.7rem;
    }
}
    
@media (min-width: 0px) and (max-width: 767px) {
    body {
        font-size: 0.8rem;
    }
}